/* 自定义样式 开始 */
:root {
    --main-color: #555d65;
}

#app {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color);
    /* 通过calc计算屏幕 */
    height: calc(100vh);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.full {
    width: 100%;
    height: 100%;
}

.width {
    width: 100%;
}

.hidden-y {
    overflow-y: hidden;
}

.bg-body {
    background-color: #f0f3f8;
}

.text-muted {
    color: #6c757d;
}

.mt-15vh {
    margin-top: calc(15vh);
}

.fa-2x {
    font-size: 2em;
}

.fa-1_5x {
    font-size: 1.5em;
}

.pt-2,
.py-2 {
    padding-top: .5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 0.7rem;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.25;
}

.color-green {
    color: rgb(0, 128, 0);
}

.color-brown {
    color: rgb(165, 42, 42);
}

.font-weight-normal {
    font-weight: 400;
}

/* 自定义样式 结束 */