.el-aside {
    width: 240px !important;
    overflow-y: hidden !important;
    text-align: left !important;
}

.aside-title,
.aside-title>a {
    background-color: #3c77d5;
    color: hsla(0, 0%, 100%, .75);
    font-size: 1.25rem;
}