.el-aside {
    background-color: #fff;
    color: #555d65;
    text-align: left;
    line-height: 60px;
    float: left;
    overflow-y: hidden !important;
    text-align: left !important;
}

.el-menu {
    border-right: solid 0px #e6e6e6 !important;
}