/* elementUI 开始 */
.el-main {
    background-color: #f0f3f8;
    color: var(--main-color);
    text-align: left !important;
    line-height: 40px;
    float: left;
    border-left: solid 1px #e6e6e6 !important;
}

.el-container {
    height: 100%;
}

/* elementUI 结束 */