.el-footer {
    background-color: #f0f3f8;
    color: var(--main-color);
    text-align: center;
    vertical-align: middle;
    height: 40px !important;
    line-height: 40px !important;
    border-left: solid 1px #e6e6e6 !important;
}

.el-footer>span {
    color: #909399;
}

.el-footer a {
    color: #909399;
    margin-right: 4px;
}

.el-footer>a:hover {
    color: var(--main-color);
}